[Unit]
Description=acme-redirect: http redirector with acme support
After=network.target network-online.target

[Service]
User=acme-redirect
ExecStart=/usr/bin/acme-redirect daemon --chroot

WorkingDirectory=/run/acme-redirect

AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SYS_CHROOT
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SYS_CHROOT
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictSUIDSGID=yes

Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
