[Unit]
Description=acme-redirect: http redirector with acme support

[Service]
ExecStart=/usr/bin/acme-redirect daemon --chroot --user acme-redirect

WorkingDirectory=/run/acme-redirect
ReadWritePaths=/run/acme-redirect

NoNewPrivileges=yes
ProtectSystem=strict
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
