[Unit]
Description=acme-redirect: http redirector with acme support
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/acme-redirect daemon --chroot --user acme-redirect

WorkingDirectory=/run/acme-redirect
ReadWritePaths=/run/acme-redirect

NoNewPrivileges=yes
ProtectSystem=strict
PrivateDevices=yes
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
